{% extends "base.html" %} {% block title %}Patient Dashboard{% endblock %} {%
block content %}
<h3>Patient Dashboard</h3>

<h2>Health Data Updates</h2>
<form action="/patient-dashboard" method="POST">
  <label for="pulse_rate">Pulse Rate:</label>
  <input type="number" id="pulse_rate" name="pulse_rate" required /><br />

  <label for="sys_pressure">Systolic Pressure:</label>
  <input type="number" id="sys_pressure" name="sys_pressure" required /><br />

  <label for="dia_pressure">Diastolic Pressure:</label>
  <input type="number" id="dia_pressure" name="dia_pressure" required /><br />

  <label for="blood_sugar">Blood Sugar:</label>
  <input type="number" id="blood_sugar" name="blood_sugar" required /><br />

  <label for="step_count">Step Count:</label>
  <input type="number" id="step_count" name="step_count" required /><br />

  <label for="sleep_duration">Sleep Duration:</label>
  <input
    type="number"
    id="sleep_duration"
    name="sleep_duration"
    required
  /><br />

  <button type="submit" class="btn btn-primary" name = "submit_button" value = "Vitals">Submit</button>
</form>
<br />

<form action="/patient-dashboard" method="POST">
  <button type="submit" class="btn btn-primary" name = "submit_button" value = "Diet">Diet</button>
  <button type="submit" class="btn btn-primary" name = "submit_button" value = "Exercise">Exercise</button>
  <button type="submit" class="btn btn-primary" name = "submit_button" value = "EODReport">Daily Report</button>
</form>
<br>

<table>
  <tr>
    <th>Date</th>
    <th>Pulse Rate</th>
    <th>Systolic Pressure</th>
    <th>Diastolic Pressure</th>
    <th>Blood Sugar</th>
    <th>Step Count</th>
    <th>Sleep Duration</th>
  </tr>
  {% if vitals %}
    {% for vital in vitals %}
      <tr>
        <td>{{ vital.date }}</td>
        <td>{{ vital.pulserate }}</td>
        <td>{{ vital.syspressure }}</td>
        <td>{{ vital.diapressure }}</td>
        <td>{{ vital.bloodsugar }}</td>
        <td>{{ vital.stepcount }}</td>
        <td>{{ vital.sleep_duration }}</td>
      </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td colspan="7">No vitals data available.</td>
    </tr>
  {% endif %}
</table>

{% endblock %}
